* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Inter;
    src: url(../font/Inter-VariableFont_slnt\,wght.ttf);
}
:root {
    font-family: Inter, sans-serif;
}
body {
    margin: 0 auto;
    width: 1280px;
}
/*//nav//*/
.navbar {
    background: #eee;
    display: flex;
    padding-top: 14px;
    padding-bottom: 10px;
}
h4 {
    margin-right: auto;
}
.navbar ul {
    border-radius: 0.2rem;
    display: flex;
    flex-direction: row;
    gap: 34px;
    list-style: none;
}
.navbar a {
    text-decoration: none;
    color: black;
}
/*//section.hero//*/
.hero {
    display: flex;
    padding-top: 44px;
    flex-direction: row-reverse;
}
.hero h2 {
    justify-content: flex-start;
}